body {
  background-color: rgb(247, 118, 118);
  /* position: relative; */
  /* padding: 0px; */
  /* margin: 0px; */
}

.btn {
  width: 100px;
  background-color:aqua;
  border-radius: 5px;
}
.buttons {
  margin: 50px;
}
 

.fieldCoords {
  width: 250px;
  height: 100px;
  background-color: black;
  color: white;
  padding: 10px;
}

.ball {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  border-radius: 50%;
  transition: 1s;
}


.field {
  /* border: 20px solid red; */
  width: 500px;
  height: 333px;
  margin: 45px 45px;
  /* padding: 20px; */
  position: relative;
  /* background-color: aqua; */

}


.coordinate {
  background-color:gray;
  width: 180px;
  height: 50px;
  color: white;
}

