body {
  /* background-color: rgb(247, 118, 118); */
  background: linear-gradient(130deg,rgb(245, 243, 243), rgb(245, 243, 243), rgb(178, 176, 176));
  /* background: rgb(245, 243, 243); */
}

.text{
  background: linear-gradient(180deg,   rgb(25, 25, 167), rgb(72, 251, 132), rgb(93, 93, 244));
  font-size: 90px;
  /* width: 11ch; */
  width: 500px;
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color:rgb(245, 243, 243);
  font-family: monospace;
  /* white-space: nowrap; */
  display: flex;
  border-right: 4px solid red;
  /* animation: text-anim 1.5s steps(11) forwards; */
  animation: text-anim 5.5s ease-in-out forwards;
}

/* -webkit-background-clip: text;// Обрезаем фон по тексту */
/* -webkit-text-fill-color: transparent;// Прозрачный текст */

@keyframes text-anim {
  from{
    width: 0;
  }
  to {
    border-right:4px solid transparent;
  }
}


#showText {
  width: 58ch;
  height: 20px;
  /* background-clip:text; */
  -webkit-background-clip: text;
  /* -webkit-text-stroke: transparent; */
  font-size: 1.3em;
  font-family: monospace;
  border-right: 3px solid red;
  background-color: red;
  color: transparent;
  white-space: nowrap;
  margin-bottom: 25px;
  margin-top: 25px;
  animation: animShowText 5s  steps(58);
  }
  
  @keyframes animShowText {
    from{
      width: 0;
    }
    to {
     /* border: 3px solid transparent; */
    }
  }
  
#btn3, #btn4 {
  color: white;
  border: 1px solid white !important;
  border-radius:  5px;
  padding: 5px;
  margin: 5px;
}
#btn3 {
  background: linear-gradient(45deg, #fd1a01, #db8310, rgb(75, 237, 75));
}
#btn4 {
  background: red;
  box-shadow: 0px 0px 30px red;
}

input[type='radio'] {
  display:none;
}

label {
  border: 2px solid red;
  position: relative;
  border-radius: 5px;
  padding: 1px 10px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100px;
  color: chartreuse;
  cursor: pointer;
  margin: 4px;
  background-color: black;
  
}

label::before {
  /* position: absolute; */
  content: '';
  border: 3px solid chartreuse;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin-right: 20px;
}

input[type="radio"]:checked + label {
  background-color: chartreuse;
  color: black;
  box-shadow: 0px 0px 20px rgb(43, 67, 19);
}

input[type="radio"]:checked + label:before {
  /* height: ; */
  background-color: chartreuse;
  color: black;
  border: 3px solid black;
}




.bt:nth-child(3) {
  color: white;
  background:linear-gradient(90deg, red,blue );
}
.bt:nth-child(3):hover {
  color: white;
  background:linear-gradient(155deg, blue, red);
}

#score {
  background:linear-gradient(90deg, red, blue)  ;
}
 
#num {
  background: linear-gradient(180deg, white, blue) !important;
}


.btn {
  width: 100px;
  background:linear-gradient(15deg, blue, aqua);
  color: white;
  border-radius: 5px;
}
.buttons {
  margin: 50px;
}
 

.fieldCoords {
  width: 250px;
  height: 100px;
  background:linear-gradient(45deg, black, gray);
  color: white;
  padding: 10px;
}

.ball {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  border-radius: 50%;
  transition: 1s;
}


.field {
  /* border: 20px solid red; */
  width: 500px;
  height: 333px;
  margin: 45px 45px;
  /* padding: 20px; */
  position: relative;
  /* background-color: aqua; */

}


.coordinate {
  background:linear-gradient(45deg, black, gray);
  width: 180px;
  height: 100%;
  padding: 10px;
  color: white;
}

.score2 {
  width: 500px;
  font-size: 1.5em;
}

.digitals {
  /* background-color: lightgray; */
  cursor: pointer;
  list-style: none;
  padding-left: 5px;
  color: red;
  text-align: center;
}